<form [formGroup]="formulario">

    <!-- NOME -->
    @if (formulario.get('nome').hasError('required') && formulario.get('nome').touched) {
        <p class="alert alert-warning">O campo nome é obrigatório.</p>
    }
    @if (formulario.get('nome').hasError('minlength') && formulario.get('nome').touched) {
        <p class="alert alert-warning">Necessário no mínimo 3 caracteres.</p>
    }
    <input type="text"   formControlName="nome" placeholder="Nome" class="form-control">

    <!-- IDADE -->
    @if (formulario.get('idade').hasError('required') && formulario.get('idade').touched) {
        <p class="alert alert-warning">O campo nome é obrigatório.</p>
    }
    @if (formulario.get('idade').hasError('min') && formulario.get('idade').touched) {
        <p class="alert alert-warning">A idade precisa ser maior que 0.</p>
    }
    @if (formulario.get('idade').hasError('max') && formulario.get('idade').touched) {
        <p class="alert alert-warning">A idade precisa ser menor que 100.</p>
    }
    <input type="number" formControlName="idade" placeholder="Idade" class="form-control">

    <!-- CIDADE -->
    @if (formulario.get('cidade').hasError('required') && formulario.get('cidade').touched) {
        <p class="alert alert-warning">O campo nome é obrigatório.</p>
    }
    @if (formulario.get('cidade').hasError('minlength') && formulario.get('cidade').touched) {
        <p class="alert alert-warning">Necessário no mínimo 3 caracteres.</p>
    }
    <input type="text"   formControlName="cidade" placeholder="Cidade" class="form-control">

    @if(btnCadastrar){
        <input type="button" value="Cadastrar" (click)="cadastrar()" class="btn btn-primary" [disabled]="formulario.invalid">
    }@else{
        <input type="button" value="Alterar" (click)="alterar()" class="btn btn-primary" [disabled]="formulario.invalid">
        <input type="button" value="Remover" (click)="remover()" class="btn btn-primary">
        <input type="button" value="Cancelar" (click)="cancelar()" class="btn btn-primary">
    }

    
    
</form>


<table class="table">
    <thead>
        <th>#</th>
        <th>Nome</th>
        <th>Idade</th>
        <th>Cidade</th>
        <th>Selecionar</th>
    </thead>
    <tbody>
        <tr *ngFor="let v of vetor; index as indice">
            <th>{{indice + 1}}</th>
            <th>{{v.nome}}</th>
            <th>{{v.idade}}</th>
            <th>{{v.cidade}}</th>
            <th><button class="btn btn-primary" (click)="selecionar(indice)">Selecionar</button></th>
        </tr>
    </tbody>
</table>